@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Kreon:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");


* {
padding: 0;
margin: 0;
box-sizing: border-box;
text-decoration: none;
}

h1 {font-size: 2rem; font-family: 'EB Garamond', serif}
h2 {font-size: 1.5rem;}
p {font-size: 1.1rem;}
body {font-family: 'EB Garamond', serif;
    margin: 0;}

ul {list-style: none;}




header {
    height: 250px;
    width: 100%;
    z-index: 100;
    background-color: rgb(56, 88, 129);
}

.container-header {
    max-width: 1500px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0px 20px;
}

header .logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 250px;
}

.container-nav {
    position: relative;
    height: 100%;
}

nav {
    height: 100%;
}

nav ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0px 20px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    font-size: 14px;
}


.select {
    padding: 1em 2em;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 600;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.select:hover {
    background-color: rgb(8, 22, 62);
    box-shadow: 0px 15px 20px rgba(246, 247, 252, 0.7);
    color: #fff;
}






main {
    background-color: rgb(245, 245, 245);
}

.Servicios{
    display: grid;
    justify-items: center;
}

.contenedor-servicios {
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: auto;
}

.contenedor-servicios .carta {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgb(54, 53, 53);
    margin: 20px;
    text-align: center;
    transition: all 0.50s;
}

.contenedor-servicios .carta:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgb(54, 53, 53);
}

.contenedor-servicios .carta img {
    width: 300px;
    height: 200px;
}





.div-valores {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 50px;
}

.valor-uno-div {
    width: 100%;
    max-width: 300px;
    text-align: center;
    position: relative;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background: linear-gradient(transparent, rgba(115, 30, 233, 0.157), transparent);
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.calidad-contenido {
    padding: 5px;
    text-align: center;
    transition: 0.5s;
    opacity: 1;
}

.valor-dos-div {
    width: 100%;
    max-width: 300px;
    text-align: center;
    position: relative;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background: linear-gradient(transparent, rgba(115, 30, 233, 0.157), transparent);
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.innovacion-contenido {
    padding: 5px;
    text-align: center;
    transition: 0.5s;
    opacity: 1;
}

.valor-tres-div {
    width: 100%;
    max-width: 300px;
    text-align: center;
    position: relative;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background: linear-gradient(transparent, rgba(115, 30, 233, 0.157), transparent);
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.atencion-contenido {
    padding: 5px;
    text-align: center;
    transition: 0.5s;
    opacity: 1;
}





.div-elegirnos {
    display: flex;
}


.div-elegirnos img {
    width: 800px;
}



footer {
    width: 100%;
    padding: 50px 0px;
    background-color:rgb(49, 47, 47);
}

.contenedor-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
}

.box-footer {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.box-footer h3 {
    margin-bottom: 30px;
    color: rgb(174, 173, 173);
    font-weight: 500;
    font-size: 40px;
}

.box-footer a {
    margin-top: 10px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.box-footer a:hover {
    opacity: 0.8;
}

.box-footer a .bi {
    font-size: 20px;
}

.bi-envelope{
    color: white;
}

.bi-telephone-fill{
    color: white;
}

.box-copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box-copyright p {
    margin-top: 20px;
    color: rgb(255, 255, 255);
}

.box-copyright hr {
    height: 1px;
    background-color: rgb(255, 255, 255);
}









@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

    
    /* .container-header {
        width: 100%;
    }

    ul.navbar {
        display: grid;
        grid-template-columns: 100%;
    }

    .section-1 {
        display: grid;
        grid-template-columns: 100%;
    }

    .contenedor-servicios {
        display: grid;
        grid-template-columns: 50%;
    }

    .carta {
        width: 400px;
    }

    .div-elegirnos img {
        width: 400px;
    } */
}



/* division entre css de distintas paginas */

.contenedor-seccion-serv {
    display: grid;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    grid-template-areas: 1;
}

.contenedor-hys {
    border: 1px solid black;
    height: 500px;
    width: 100%;
    
}

.img-hys {
    float: left;
}





.contenedor-construccion {
    border: 1px solid black;
}


.contenedor-planos {
    border: 1px solid black;
}

.contenedor-ambiente {
    border: 1px solid black;
}



.contenedor-hys-funciones {
    display: flex;
}

.contenedor-construccion-funciones {
    display: flex;
}

.contenedor-planos-funciones {
    display: flex;
}

.contenedor-ambiente-funciones {
    display: flex;
}



/* division entre css de distintas paginas */

.contenedor-formulario {
    display: flex;
}

/* formulario */

form.form_contact{
    width: 62%;
    padding: 30px 40px;
}

form.form_contact h2{
	font-size: 25px;
	font-weight: 600;
	color: #303030;
	margin-bottom: 30px;
}

form.form_contact .user_info{
    display: flex;
    flex-direction: column;
}

form.form_contact label{
    font-weight: 600;
}

form.form_contact input,
form.form_contact textarea{
    width: 100%;
    padding: 8px 0px 5px;
    margin-bottom: 20px;

    border: none;
    border-bottom: 2px solid #D1D1D1;

    font-family: 'Open sans';
	color: #5A5A5A;
	font-size: 14px;
	font-weight: 400;
}

form.form_contact textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 90px;
}

form.form_contact input[type="button"]{
    width: 180px;
	background: #4091EC;
	padding: 10px;
	border: none;
	border-radius: 25px;

    align-self: flex-end;

    color: #fff;
	font-family: 'Open sans';
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}

form.form_contact input[type="button"]:hover{
    background: #3371B6;
}


form.form_contact{
    width: 62%;
    padding: 30px 40px;
}

form.form_contact h2{
	font-size: 25px;
	font-weight: 600;
	color: #303030;
	margin-bottom: 30px;
}

form.form_contact .user_info{
    display: flex;
    flex-direction: column;
}

form.form_contact label{
    font-weight: 600;
}

form.form_contact input,
form.form_contact textarea{
    width: 100%;
    padding: 8px 0px 5px;
    margin-bottom: 20px;

    border: none;
    border-bottom: 2px solid #D1D1D1;

    font-family: 'Open sans';
	color: #5A5A5A;
	font-size: 14px;
	font-weight: 400;
}

form.form_contact textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 200px;
}

form.form_contact input[type="button"]{
    width: 180px;
	background: #4091EC;
	padding: 10px;
	border: none;
	border-radius: 25px;

    align-self: flex-end;

    color: #fff;
	font-family: 'Open sans';
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}

form.form_contact input[type="button"]:hover{
    background: #3371B6;
}

.contenedor-cards {
    display: flex;
    justify-content: space-around;
}