footer {
    width: 100%;
    padding: 50px 0px;
    background-color: $fondo-footer;

    .contenedor-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
        margin-top: 50px;

        .box-footer {
            display: flex;
            flex-direction: column;
            padding: 20px;

            .logo {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
    
                img {
                    width: 250px;
                }
            }

            h3 {
                margin-bottom: 30px;
                color: rgb(174, 173, 173);
                font-weight: 500;
                font-size: 40px;
            }

            a {
                margin-top: 10px;
                color: rgb(255, 255, 255);
                font-weight: 600;

                &:hover {
                    opacity: 0.8;
                }

                .bi {
                    font-size: 20px;
                }
            }

            .bi-envelope{
                color: white;
            }

            .bi-telephone-fill{
                color: white;
            }
        }
    }

    .box-copyright {
        max-width: 1200px;
        margin: auto;
        text-align: center;
        padding: 0px 40px;

        p {
            margin-top: 20px;
            color: rgb(255, 255, 255);
        }

        hr {
            height: 1px;
            background-color: rgb(255, 255, 255);
        }
    }
}
/* ACA TERMINA EL FOOTER */