$estilos: (
    color-primario: rgb(18, 91, 64),
    color-secundario: rgb(228, 225, 225),
    padding-uno: 10px,
    padding-dos: 20px,
    padding-tres: 30px,
    border-radius-uno: 05px,
    border-radius-dos: 10px,
)